<li class="timer"><%= ProjectTimeTracker.Extras.Timer.stringify(total_time) %></li>
<li><%= title %></li>
<li><%= description %></li>

<li><a href="#/<%= id %>">Show</li>
<li><a href="#/<%= id %>/edit">Edit</li>
<li><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></li>